<a href="https://colab.research.google.com/github/gg5d/DS-1002/blob/main/pandas_concatenate_practice_students.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Practice

### University of Virginia
### DS1002: Programming for Data Science
---

### PREREQUISITES
- data types
- pandas dataframes
- pandas data cleaning I

### OBJECTIVES
- Problems with concatenation

### Ref: Learning pandas by M. Heydt Packt Publishing/O'Reilly

#### Created:Sept 25 2023
#### Last Updated: Sept 25 2023

In [ ]:
import numpy as np
import pandas as pd
import datetime

Concatenation in pandas is the process of either adding rows to the end of an existing Series or DataFrame object or adding additional columns to a DataFrame.

In pandas, concatenation is performed via the pandas function *`pd.concat()`*.

In [ ]:
s1 = pd.Series(np.arange(0, 3))
s2 = pd.Series(np.arange(5, 8))
print(s1)
print(s2)

Concatenate them

In [ ]:
s3 = pd.concat([s1,s2])
s3

In [ ]:
s3.index

Two Dataframes can be concatenated as well

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3),columns=['a','b','c'])
df1

In [ ]:
df1.values

In [ ]:
df1.columns

In [ ]:
df1.dtypes

In [ ]:
df2 = pd.DataFrame(np.arange(9,18).reshape(3,3),columns=['a','b','c'])
df2

In [ ]:
pd.concat([df1,df2])

What happens if there are missing colums?
Check the effect of pd.concat() on the following DataFrames objects

In [ ]:
df3 = pd.DataFrame(np.arange(9).reshape(3,3),columns=['a','b','c'])
df3

In [ ]:
df4 = pd.DataFrame(np.arange(9,18).reshape(3,3), columns=['a','c','d'])
df4

In [ ]:
pd.concat([df3,df4])

The pd.concat() function also allows you to specify the axis on which to apply the concatenation.

The following concatenates the two DataFrame objects along the **columns axis**:

In [ ]:
pd.concat([df1,df4],axis=1)

What happens when the number of rows is not the same? Or row index is not the same? Try with the following df's

In [ ]:
df5 = pd.DataFrame(np.arange(20,26).reshape(3,2),columns=['a','d'], index=[2,3,4])
df5

In [ ]:
pd.concat([df4,df5],axis=1)

So far, pd.concat() performs a *`union`* of index labels.

We can request an **intersection**, with *`join='inner'`*

In [ ]:
pd.concat([df1,df5],axis=1, join='inner')

as **2** is the only index in common.

For row concatenation:

In [ ]:
pd.concat([df1,df4],join='inner')

as **a** and **c** are the only columns in common

In [ ]:
pd.concat([df1,df4],join='inner', ignore_index=True)

## Student practice

Create the 3 DataFrames df1, df2, df3 and concatenate them to get the DataFrame Result, as in the picture below.

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_basic.png" alt="Alternative text" />

In [ ]:
df1 =
df1

In [ ]:
df2 =
df2

In [ ]:
df3 =
df3

In [ ]:
result =
result

Use the *`keys=["x", "y", "z"]`* argument to associate a specific key to each df's as you can see below

In [ ]:
result =
result

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_keys.png" alt="Alternative text"/>

From Result, extract only the second chunk. Use *`.loc[...]`*

In [ ]:
result.loc[.?.]

Define df4

In [ ]:
df4 = pd.DataFrame(
    {
        "B": ["B2", "B3", "B6", "B7"],
        "D": ["D2", "D3", "D6", "D7"],
        "F": ["F2", "F3", "F6", "F7"],
    },
    index=[2, 3, 6, 7],
)
df4

Concatenate df1 and df4 as in the picture below

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_axis1.png" alt="Alternative text" />

In [ ]:
result =
result

Now concatenate by keeping the intersection of the columns, as in the picture

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_axis1_inner.png" alt="Alternative text" />

In [ ]:
result =
result

Use the *`ignore_index=True`* argument ignore the indexes and reset them, as in the picture

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_ignore_index.png" alt="Alternative text" />

In [ ]:
result =
result